extends ../layout

block content
    h3 Agregar Alumno

    form(action=`/administrativo/alumno`, method="POST")
        .form-group
            label(for="nombre") Nombre:
            input.form-control(type="text" name="nombre" required)
        .form-group
            label(for="apellido") Apellido:
            input.form-control(type="text" name="apellido" required)
        .form-group
            label(for="usuarioNombre") Usuario:
            input.form-control(type="text" name="usuarioNombre" required)
        .form-group
            label(for="usuarioClave") Clave:
            input.form-control(type="password" name="usuarioClave" required)
        button#guardar.btn.btn-success(type="submit") Guardar

    if success
        .alert.alert-success(role="alert")
            | #{success}.
        p.small.text-muted.mt-3
            | Redirigiendo en 
            span#cuenta-regresiva 2
            |  segundos...            

        script.
            var countdownElement = document.getElementById('cuenta-regresiva');
            var secondsRemaining = 2;
            const usuario = !{JSON.stringify(usuario)};
            function updateCountdown() {
                if (secondsRemaining > 0) {
                    countdownElement.textContent = secondsRemaining;
                    secondsRemaining--;
                } else {
                    window.location.href = `/administrativo/alumnos`;
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('guardar').disabled = true;
                const volver = document.getElementById('volver');
                volver.classList.add('disabled');
                volver.addEventListener('click', function(event) {
                    event.preventDefault();
                });
                setInterval(updateCountdown, 1000);
            });
    if error
        .alert.alert-danger(role="alert")
            | #{error}

    a#volver.btn.btn-secondary.mt-3(href=`/administrativo/alumnos`) Volver a la lista
