extends ../layout

block content
    h3 Inscripción a curso

    form(action=`/administrativo/${usuario}/curso/new`, method="POST")
        .form-group
            label(for="idAlumno") ID Alumno:
            input.form-control(type="number" name="idAlumno" required)
        .form-group
            label(for="materia") Materia:
            input.form-control(type="text" name="materia" required)
        .form-group
            label(for="profesor") Profesor:
            input.form-control(type="text" name="profesor" required)
        button.btn.btn-success(type="submit") Guardar
        if error
            br
            br
            .alert.alert-danger(role="alert") #{error}

    a.btn.btn-secondary.mt-3(href=`/administrativo/${usuario}/cursos`) Volver al menú anterior