html
  head
    title Escuela Italiana
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6.offset-md-3
          h1 Escuela Italiana
          h3 Bienvenido


        