html
  head
    title Iniciar Sesi칩n
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6.offset-md-3
          h1 Iniciar Sesi칩n
          form(action="/login", method="POST")
            .form-group
              label(for="usuario") Usuario
              input#usuario.form-control(type="text", name="usuario", required)
            .form-group
              label(for="contrasena") Contrase침a
              input#contrasena.form-control(type="password", name="contrasena", required)
            button.btn.btn-primary(type="submit") Iniciar Sesi칩n


        