extends layout

block content
    h3 Bienvenido #{usuario.usuario}
    br
    .row
      .col-md-6.offset-md-3       
        a.btn.btn-primary(href="/administrativo/alumnos") Registro de Alumnos
        br
        br
        a.btn.btn-primary(href="#") Registro de Cursos
        br
        br
        a.btn.btn-secondary.mt-3(href="/") Salir