extends layout

block content
    h3 Bienvenido #{usuario}
    br        
    a.btn.btn-primary(href=`/administrativo/${usuario}/alumnos`) Registro de Alumnos
    br
    br
    a.btn.btn-primary(href=`/administrativo/${usuario}/cursos`) Registro de Cursos
    br
    br
    a.btn.btn-secondary.mt-3(href="/") Salir